<br>
<%= form_with(model: @ticket) do |form| %>
  <% if @ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
      <ul>
        <% @ticket.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <%else%>
    <div id='columna5'>
    <h3>Documents</h3>
    <% if @ticket.documents.attached? %>
        <%= link_to image_tag(@ticket.documents, class: "card-img-top", width: "800px"), url_for(@ticket) %>
      <%else %>
      <p></p>
      <%end%>
      </div>
      
    <h3><%=@ticket.title%></h3>
        <h5><strong>Ticket id: </strong><%=@ticket.id%></h5>
        <h5><strong>User: </strong><%=@ticket.user.first_name%><%=" "%><%=@ticket.user.last_name%></h5>        
        <ul class="list-unstyled">
        <h5><strong>Description: </strong><%=@ticket.description%></h5>
        <h5><strong>Executive: </strong><%=@ticket.executive.first_name%><%=" "%><%=@ticket.executive.last_name%></h5>
        <h5><strong>Creation Date: </strong><%=@ticket.creation_date%></h5>
        <h5><strong>Limit Date: </strong><%=@ticket.limit_date%></h5>
    <div class="col">
      <h5><strong>Priority </strong></h5>
    <%= form.select :priority,[["Urgent", "Urgent"], ["High", "High"],["Normal", "Half"], ["Low", "Low"]], selected: :priority%>
    </div>
    <div class="col">
       <h5><strong>State </strong></h5>
    <%= form.select :state, [["Open", "open"], ["Close", "close"], ["Reopen", "reopen"]], selected: :state %>
    </div>
    <div class="col">
        <h5><strong>Category </strong></h5>
        <div id="colp"><%= form.text_field :category, class: "form-control" %></div>
      </div>
    <div class="col">
        <h5><strong>Tags </strong></h5>
        <div id="colp"><%= form.text_area :tags, class: "form-control" %></div>
      </div>
       <div class="col">
        <h5><strong>Key Resolution </strong></h5>
        <div id="colp"><%= form.text_area :key_resolution, class: "form-control" %></div>
      </div>
      <div class="col">
        <h5><strong>Documents </strong></h5>
        <%= form.file_field :documents, class: "form-control-file" %>
      </div>  
 <div>
 <p> </p>
  <%= form.submit %>
  </div> 

  <% end %>  
<% end %>

<div>
  <%= link_to "Back to tickets", tickets_path %>
</div>
