<p style="color: green"><%= notice %></p>

<h1>New Comment</h1>
    <h5>ID </h5><%=@ticket.comment.id%>
    <h5>Ticket Title </h5><%=@comment_ticket%>
    <h5>Executive </h5><%=@comment_user%><%=" "%><%=@comment_user%>
    <h5>Date </h5><%=@comment_comment_date%>
    
</div>
