<p style="color: green"><%= notice %></p>

<h1>Comments</h1>
  <table class="table">
  <thead class="thead-dark">
      <th>ID</th>
      <th>Ticket Title</th>
      <th>Comment</th>
      <th>Executive</th>
      <th>Date</th>
      <th>View</th>
      <th>Edit</th>
      </thead>
  <% @comments.each do |comment|%>
    <%= render @comments %>
          <tr>
          <td><%=comment.id%></td>
          <td><%=comment.ticket.title%></td>
          <td><%=comment.comment%></td>
          <td><%=comment.user.first_name%><%=" "%><%=comment.user.last_name%></td>
          <td><%=comment.comment_date%></td>
          <div class="btn-group">
              <td><button type="button" class="btn btn-sm btn-outline-secondary" ><%= link_to "View", comment %></button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_comment_path(comment) %></button></td>
          </div>
        <tr>
  <% end %>
</div>
<%= link_to "New comment", new_comment_path %>
