<h1>New performance</h1>

<%= form_with(model: @performance) do |form| %>
  <% if @performance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
        <% @performance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <%else%>
    <h3>User id: <%= form.text_field :user_id, class: "form-control"%></h3>
    <h4><%=@performance.user_id%></h4> 
    <h3>Executive: <%= form.text_field :executive_id, class: "form-control"%></h3>
    <div class="col">
     <%= form.label :evaluation, class: "form-label" %>
    <%= form.select :evaluation, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], selected: :evaluation %>
    <%=form.hidden_field :user_id, value: @performance.user_id %>
    <%=form.hidden_field :executive_id, value: @performance.executive_id %>

</div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>

