<h1>New response</h1>
 
<%= form_with(model: @response) do |form| %>
  <% if @response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
        <% @response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <%else%>
    <form>
<h2><%=@response.user_id%><%=" "%><%=@response.user_id%></h2> 
 <h5><%=@response.ticket%></h5>
  <div class="form-group">
  <%= form.label :response, class: "form-label" %>
    <%= form.text_area :response, class: "form-control"%>
</div>
  <div>
    <%= form.submit %>
  </div>
  </form>
  <% end %>
<% end %>
<div>
  <%= link_to "Back to responses", responses_path %>
</div>
